@import 'mixins';
.container {
    padding: 0px 10px;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}

.header {
    font-family: Montserrat, sans-serif;
    background-image: url('../img/main.png');
    @include background-size;
    background-position: 50%;
    height: 718px;
    &__container {
        padding: 29px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navbar {
        width: 100%;
        height: 103px;
        background-color: #27262A;
    }
    &__button-buy {
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        color: white;
        text-align: center;
        border-radius: 20px;
        height: 37px;
        width: 120px;
        background-color: #8D81AC;
        border: none;
        transition: all 0.3s;
    }
    &__button-download {
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        color: white;
        text-align: center;
        border-radius: 20px;
        height: 45px;
        width: 290px;
        background-color: #8D81AC;
        border: none;
    }
    &__logo-box {
        @include display-center;
        position: relative;
        cursor: pointer;
    }
    &__logo-box:hover::before{
        position: absolute;
        content: "";
        display: block;
        background-image: url('../img/logo-hover.svg');
        width: 43px;
        height: 41px;
        top: 0%;
        left: 0%;
    }
    
    &__logo-name {
        display: none;
        text-decoration: none;
        color: #8D81AC;
        font-weight: bold;
        font-size: 24px;
        line-height: 16px;
        padding-left: 10px;
    }
    &__main {
        display: flex;
    }
    &__menu {
        display: none;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
        
    }
    &__links {
        @include display-space-around;
    }
    &__item {
        padding: 0px 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #8D81AC;
        transition: all 0.3s;
    }
    &__menu-main {
        display: none;
    }
    &__content {
        @include display-space-around;
        flex-direction: column;
        text-align: center;
        height: 183px;
        margin-top: 35px;
        > h1 {
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            color: white;
        }
        > h2 {
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #8D81AC;
        }
        > p {
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: #848E97;
        }
    }
    &__downloader {
        @include display-center;
        flex-direction: column;
        padding-top: 375px;
        > p {
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #848E97;
            padding-top: 10px;
        }
    }
}

.burger {
    position: relative;
    height: 41px;
    width: 43px;
    > span:first-of-type {
        background-color: #fff;
        border-radius: 2px;
        width: 15px;
        height: 3px;
        position: absolute;
        top: 25%;
        left: 46%;
        transition: all 0.3s;
    }
    > span:nth-of-type(2) {
        border-radius: 2px;
        background-color: #fff;
        width: 26px;
        height: 3px;
        position: absolute;
        top: 45%;
        left: 20%;
        transition: all 0.3s;
    }
    > span:nth-of-type(3) {
        border-radius: 2px;
        background-color: #fff;
        width: 26px;
        height: 3px;
        position: absolute;
        top: 65%;
        left: 20%;
        transition: all 0.3s;
    }
}
.menu {
    transition: all 0.5s;
    position: relative;
    margin-bottom: 10px;
    &__list {
        position: absolute;
        top: 0%;
        left: 5%;
        height: 330px;
        width: 290px;
        background-color: #333333;
        padding-top: 7px;
    }
    &__item {
        position: relative;
        padding: 29px 0px 21px 35px;
        font-weight: normal;
        font-size: 26px;
        line-height: 26px;
        color: white;
        border-bottom: 3px solid #3B3B3B;;
    }
    &__item:hover {
        color: #8D81AC;
    }
    &__item:hover::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #8D81AC;
        top: 17%;
        left: 1%;
        width: 8px;
        height: 53px;
    }
}
.menu.active {
    transition: all 0.5s;
    transform: translateX(100%);
    overflow: hidden;
}
.burger.active {
    position: relative;
    height: 41px;
    width: 43px;
    > span:first-of-type {
        background-color: #fff;
        border-radius: 2px;
        width: 15px;
        height: 3px;
        position: absolute;
        top: 25%;
        left: 46%;
        display: none;
        transition: all 0.3s;
    }
    > span:nth-of-type(2) {
        border-radius: 2px;
        background-color: #fff;
        width: 26px;
        height: 3px;
        position: absolute;
        top: 45%;
        left: 20%;
        transform: rotate(45deg);
        transition: all 0.3s;
    }
    > span:nth-of-type(3) {
        border-radius: 2px;
        background-color: #fff;
        width: 26px;
        height: 3px;
        position: absolute;
        top: 45%;
        left: 20%;
        transform: rotate(-45deg);
        transition: all 0.3s;
    }
}

@media all and (min-width: 481px){

    .header{
        &__container {
            padding: 20px 20px 0px 20px;
        }
        &__logo-box:hover::after{
            position: absolute;
            content: "FORKIO";
            display: block;
            top: 15px;
            left: 29%;
            color: white;
            font-weight: bold;
            font-size: 24px;
            line-height: 16px;
            padding-left: 10px;
        }
        &__logo-name {
            display: block;
        }
        &__menu {
            display: flex;
        }
        &__content {
            > h1 {
                font-size: 72px;
            }
            > h2 {
                font-size: 24px;
            }
        }
        &__button-buy {
            width: 145px;
        }
        &__button-download {
            width: 390px;
            height: 62px;
            font-size: 21px;
            border-radius: 50px;
        }
        &__downloader {
            padding-top: 365px;
        }
    }

    .burger {
        display: none;
    }

}

@media all and (min-width: 993px) {

    .header {
        &__container {
            padding: 30px 90px 0px 90px;
            max-width: 1560px;
            margin: auto;
        }
        &__navbar {
            background-color: black;
        }
        &__menu {
            display: none;
        }
        &__item:hover {
            transition: all 0.3s;
            color: #fff;
        }
        &__button-buy:hover {
            transition: all 0.3s;
            background-color: #fff;
            color: #8D81AC;
            border: 2px solid #8D81AC;
        }
        &__button-download:hover {
            transition: all 0.3s;
            background-color: #fff;
            color: #8D81AC;
            border: 2px solid #8D81AC;
        }
        &__menu-main {
            display: flex;
        }
        &__content {
            > h1 {
                font-size: 82px;
            }
            > h2 {
                font-size: 30px;
            }
            > p {
                font-size: 16px;
            }
        }
    }

}