@import 'mixins';
.hereis {
    font-family: Montserrat, sans-serif;
    &__container {
        @include display-items-center;
        flex-direction: column;
        padding: 0 20px;
        > h3 {
            padding: 10px 20px;
            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #8D81AC;
        }
        &__wraper {
            @include display-space-around;
            flex-direction: column;
            margin-top: 40px;
            
        }
        
        
    }
    &__image {
        overflow-x: hidden ;
        > img {
            object-position: 40%;
            object-fit: cover;
            height: 370px;
        }
    }
    
}
.infocard {
    @include display-items-center;
    flex-direction: column;
    padding: 20px 0px;
    &__img {
        margin-bottom: 40px;
    }
    &__text{
    > h4 {
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        text-align: center;
        margin-bottom: 15px;
    }
    > p {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        text-align: center;
    }
}
}

@media all and (min-width: 481px) {
    .hereis {
        > h3 {
            font-size: 42px;
            line-height: 44px;
        }
        &__image {
            overflow-x: hidden ;
            display: flex;
            justify-content: right;
            > img {
                object-position: 40%;
                object-fit: cover;
                height: 370px;
            }
            
        }
    }
    .infocard {
        flex-direction: row;
        align-items: flex-start;
        &__img {
            @include display-center;
            width: 155px;
            padding: 10px;
        }
        > img {
            padding-bottom: 0px;
            width: 111px;
        }
        &__text{
            width: 100%;
        > h4 {
            line-height: 21px;
            margin-bottom: 10px;
            text-align: start;
        }
        > p {

            text-align: start;
        }
    }
    }
}


@media all and (min-width: 993px) {
    .hereis {
        background: #F4F4F4;
        &__container-main{

        display: grid;
        grid-template-areas:
          "text title"
          "text pic"
          "text pic"
          "text pic";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        max-width: 1560px;
        margin: 0 auto;
    }
    &__container {
        > h3 {
            font-size: 48px;
            line-height: 50px;
            margin-top: 20px;
        }
    }
        &__container:first-child {
            display: block;
            height: 20%;
            margin-top: 50px;
            grid-area: title;
        }
    &__container:nth-child(2) { 
        grid-area: text;
        padding: 50px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        grid-area: pic;
        display: block;
        > img {
            height: 569px;
        }
    }
}
.infocard {
    padding-right: 20px;
    padding-left: 20px;
    &__text{> h4 {
        margin-top: 20px;
    }
} 
}
}