@mixin background-size {
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin display-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin display-items-center {
    display: flex;
    align-items: center;
}
@mixin display-direct-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}