@import 'mixins';
.revolution{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	font-family: Montserrat, sans-serif;
  margin-top: 100px;
  padding-bottom: 100px;

	&__title{
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #635C73; 
		margin: 0;
	}
	&__text{
		font-family: Lato, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #323232;
		text-align: center;
		margin: 35px 0;
    padding: 0px 20px;
	}
  &__buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 270px;
    margin: 0 auto;
  }
    &__link{
      min-width: 109px;
      text-decoration: none;
      color: black;
      display: flex;
      border: 1px solid silver;
      border-radius: 3px;
      height: 25px;
      background-color: #F4F4F4;
    }
    &__link:nth-child(3){
      margin-top: 20px;
      min-width: 109px;
      text-decoration: none;
      color: black;
      display: flex;
      border: 1px solid silver;
      border-radius: 3px;
      height: 25px;
      background-color: #F4F4F4;
    }
    &__visual {
      background-color: rgb(243, 243, 243);
      padding: 0 7px;
      display: flex;
      align-items: center;
      height: 25px;
      border-right: 1px solid silver;
    }
      &__button-text {
      padding-left: 2px;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 16px;
      }
      &__button-numbers {
      font-family: Lato, sans-serif;
      box-sizing: border-box;
      font-size: 11px;
      font-weight: 900;
      background-color: white;
      height: 25px;
      padding: 6px 5px 0 5px;
      overflow: hidden;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      }
}

@media all and (min-width: 481px){
  .revolution {
    &__title {
      font-size: 42px;
      line-height: 42px;
      padding: 0px 20px;
    }
    &__text {
      font-size: 21px;
      line-height: 32px;
    }
  }
}

@media all and (min-width: 590px){
  .revolution {
    &__text{
      max-width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  &__buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 365px;
    margin: 0 auto;
  }
  &__link:nth-child(3){
    margin-top: 0px;
  }
}
}

@media all and (min-width: 992px){
  .revolution {
    &__title {
      font-size: 42px;
      line-height: 42px;
    }
    &__text{
      max-width: 55%;
      margin: 35px auto;
    }
  }
}