@import 'mixins';
.subscript {
    background-image: url('../img/people-bg.png');
    background-repeat: repeat;
    background-size: cover;
    height: 2850px;
    font-family: Montserrat, sans-serif;
    
    &__container {
        padding-top: 800px;
        > h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: white;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    }
    &__wraper {
        @include display-center;
        flex-direction: column;
        
    }
}
.card {
    @include display-direct-column;
    justify-content: flex-start;
    width: 257px;
    height: 457px;
    background-color: #5a4e5c;
    color: white;
    margin-bottom: 20px;
    transition: all 0.3s;
    > h4 {
        @include display-center;
        width: 257px;
        height: 97px;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        background-color: #645766;
    }
    &__price {
        font-weight: bolder;
        font-size: 60px;
        line-height: 62px;
        padding: 30px 0px 20px 0px;
    }
    &__value {
        font-weight: 200;
    }
    &__date {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        padding-bottom: 75px;
        position: relative;
    }
    &__date::after {
        position: absolute;
        content: "";
        display: block;
        top: 50px;
        left: 12%;
        width: 60px;
        height: 5px;
        background-color: #8D81AC;
    }
    > p {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        text-align: center;
        width: 80%;
        height: 44px;
    }
    > button {
        width: 165px;
        height: 45px;
        border-radius: 25px;
        border: none;
        background-color: #6e5f70;
        font-weight: 300;
        font-size: 15px;
        line-height: 15px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 37px;
    }
    &:nth-child(3) {
        transform: scale(1.05);
        background-color: #463048;
        > h4 {
            background-color: #322233;
        }
    }
}

@media all and (min-width:481px) {
    .subscript {
        height: 2200px;
        &__container {
            padding-top: 120px;
             > h2 {
            font-weight: bold;
            font-size: 42px;
            line-height: 44px;
            margin: 0px 0px 30px 0px;
        }
        }
       
    }
}
@media all and (min-width:601px) {
    .subscript {
        @include display-direct-column;
        height: 1250px;

        > h2 {
            padding-top: 40px;
        }
        &__wraper {
            display: grid;
            grid-template-columns: 50% 50%;
            
        }
        .card {
            margin: 30px 20px;
            &:nth-child(3) {
                transform: scale(1.1);
            }
        }
    }
}
@media all and (min-width:992px) {
    .subscript {
        &__container {
            padding-top: 0px;
        }
        height: 600px;
        > h2 {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__wraper {
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 10px; 
            grid-template-areas: 
            ". . . .";
            
        }
        .card {
            width: 200px;
            height: 400px;
            transition: all 0.3s;
            > h4 {
                width: 200px;
                height: 47px;
                font-size: 20px;

            }
            &:nth-child(3) {
            transform: scale(1.1);
            background-color: #463048;
            > h4 {
                background-color: #322233;
            }
        }
    }
    }
}
@media all and (min-width:1200px) {
    .subscript {
        height: 650px;
        > h2 {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__wraper {
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 10px; 
            grid-template-areas: 
            ". . . .";
            
        }
        .card {
            width: 257px;
            height: 457px;
            transition: all 0.3s;
            > h4 {
                width: 257px;
                height: 97px;
                font-size: 24px;
            }
            &:nth-child(3) {
            transform: scale(1.1);
        }
    }
}
}