@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import 'mixins';
.people {
    background-image: url('../img/people.png');
    background-position: 54%;
    background-repeat: no-repeat;
    height: 756px;
    font-family: Lato, sans-serif;
    font-style: italic;
    &__container {
        padding: 57px 25px 0px 25px;
        > h2 {
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color: white;
            font-family: Montserrat, sans-serif;
            font-style:normal;
            text-align: center;
            margin-bottom: 30px;
        }
        > p {
            position: relative;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #A291A5;
            text-align: center;

        }
        > p::after {
          position: absolute;
          content: "";
          display: block;
          width: 85%;
          height: 2px;
          top: 108%;
          left: 8%;
          background-color: #645766;
        }
    }
    &__card {
        @include display-space-around;
        flex-direction: column;
        height: 170px;
        padding-bottom: 20px;
        > p {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: white;
            text-align: center;
            
        }
    }
}

.wraper {
    display: grid;
    grid-template-columns: 100%;
}

@media all and (min-width:481px) {
    .people {
        margin: auto;
        height: 756px;
        
        &__container {
            > h2 {
                font-size: 42px;
            }
            
        }
    }
    .wraper {
        grid-template-columns: 50% 50%;
        
    }
    .card1 {
        grid-column-start: 1;
    }
    .card2 {
        grid-column-start: 2;
    }
    .card3 {
        grid-column-start: 1;
    }
    .card4 {
        grid-column-start: 2;
    }
    .card5 {
        grid-column-start: 1;
    }
    .card6 {
        grid-column-start: 2;
    }
}

@media all and (min-width:600px) {
    .people {
        margin: auto;
        height: 756px;
    }
    .wraper {
        grid-template-columns: 50% 50%;
        
    }
    .card1 {
        margin-bottom: 10px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card2 {
        margin-bottom: 10px;
        margin-left: 50px;
        grid-column-start: 2;
    }
    .card3 {
        margin-bottom: 10px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card4 {
        margin-bottom: 10px;
        margin-left: 50px;
        grid-column-start: 2;
    }
    .card5 {
        margin-bottom: 10px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card6 {
        margin-bottom: 10px;
        margin-left: 50px;
        grid-column-start: 2;
    }
}
@media all and (min-width:659px) {
    .people {
        margin: auto;
        height: 756px;
    }
    .wraper {
        grid-template-columns: 50% 50%;
        
    }
    .card1 {
        margin-bottom: 25px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card2 {
        margin-bottom: 25px;
        margin-left: 50px;
        grid-column-start: 2;
    }
    .card3 {
        margin-bottom: 25px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card4 {
        margin-bottom: 25px;
        margin-left: 50px;
        grid-column-start: 2;
    }
    .card5 {
        margin-bottom: 25px;
        margin-right: 50px;
        grid-column-start: 1;
    }
    .card6 {
        margin-bottom: 25px;
        margin-left: 50px;
        grid-column-start: 2;
    }
}
@media all and (min-width:993px) {
    .people {
        margin: auto;
        height: 752px;
        
        &__container {
            @include display-center;
            flex-direction: column;
            padding: 57px 81px 0px 81px;
            > h2 {
                font-size: 46px;
            }
            > p {
                margin: 0 auto;
                text-align: center;
                width: 80%;
            }
        }
    }
    .wraper {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . ."
          ". . ."; 
        
    }
    .people__card {
        max-width: 306px;
        max-height: 152px;
    }
    .card1 {
        margin: 30px 20px 40px 10px;
        grid-column-start: 1;
    }
    .card2 {
        margin: 30px 20px 40px 10px;
        grid-column-start: 2;
    }
    .card3 {
        margin: 30px 20px 40px 10px;
        grid-column-start: 3;
    }
    .card4 {
        margin: 30px 20px 40px 10px;
        grid-column-start: 1;
    }
    .card5 {
        margin: 30px 20px 40px 10px;
        grid-column-start: 2;
    }
    .card6 {
        margin: 20px 20px 20px 10px;
        grid-column-start: 3;
    }
} 
@media all and (min-width: 1365px) {
    .people {
        background-size: cover;
    }
}